a.build-errors {
  color: rgb(169,68, 66);
  cursor: pointer;
}
a.build-errors:visited {
  color: rgb(169,68, 66);
}
a.build-errors:hover {
  color: rgb(169,68, 66);
}

a.build-warnings{
  color: rgb(138, 109, 59);
  cursor: pointer;
}
a.build-warnings:visited {
  color: rgb(138, 109, 59);
}
a.build-warnings:hover {
  color: rgb(138, 109, 59);
}
