a.build-errors {
  color: rgb(169,68, 66);
  cursor: pointer;
}
a.build-errors:visited {
  color: rgb(169,68, 66);
}
a.build-errors:hover {
  color: rgb(169,68, 66);
}

a.build-warnings{
  color: rgb(138, 109, 59);
  cursor: pointer;
}
a.build-warnings:visited {
  color: rgb(138, 109, 59);
}
a.build-warnings:hover {
  color: rgb(138, 109, 59);
}

.filename {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align:left;
}

.line-number { 
  width: 10%;
}

.test-success > td {
  font-weight: bold;
  color: #5cb85c;
}

.test-success > td > a {
  font-weight: bold;
  color: #5cb85c;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
