---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent builds</h1>
    {% for build in site.data.build reversed %}
      <li><b>Build {{build.jenkins_build_nr}}: {{build.package}}</b><br>
        <div class="post-meta">
          Architecture: {{ build.architecture }} <br>
          Externals recipes: <a href="http://github.com/{{build.alidist}}/alidist/">{{build.alidist}}/alidist</a><br>
          Alibuild version: <a href="http://github.com/{{build.alibuild}}/alibuild/">{{build.alibuild}}/alibuild</a>
          <br><a href="https://ali-ci.cern.ch/build-any-ib/{{build.jenkins_build_nr}}">Tests root files</a> 
          {{ if build.jenkins_build_nr.empty? }}
            <br><a href="https://alijenkins.cern.ch/job/build-any-ib/{{build.jenkins_build_nr}}/console">Jenkins build logs.</a>
          {{ endif }}
        </div>
      </li>
      
    {% endfor %}
  
<!--  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->

</div>
