---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent builds</h1>
  <div>
    <ul class="nav nav-tabs" role="tablist">
    {% for product in site.data.build.aggregations["3"].buckets %}
      {% assign product_name = product.key %}
      <li role="presentation"><a href="#{{product_name}}" aria-controls="{{product_name}}" role="tab" data-toggle="tab">{{ product_name }}</a></li>
    {% endfor %}
    </ul>
      
    <div class="tab-content">
    {% for product in site.data.build.aggregations["3"].buckets %}
      {% assign product_name = product.key %}
      <div role="tabpanel" class="tab-pane active" id="{{product_name}}">
        <ul>
        {% for commit in product["2"].buckets %}
          <li>Commit {{ commit.key }}:
              <ul>
                {% for architecture in commit["4"].buckets %}
                  <li>{{ architecture.key }}
                    <ul>
                    {% for build in architecture["10"].buckets %}
                      <li>Build #{{ build.key }}
                          {% assign alidist_version = build["5"].buckets[0].key %}
                          <br>alidist version: <a href="http://github.com/{{ alidist_version }}/alidist">{{ alidist_version }}</a>
                          <br><a href="https://alijenkins.cern.ch/job/build-any-ib/{{ build.key }}/console">Jenkins build logs.</a>
                          <br><a href="https://ali-ci.cern.ch/build-any-ib/{{ build.key }}">Tests root files</a>
                        <br>Sources used:
                        <ul>
                          {% assign externals = build["5"].buckets[0]["9"].buckets[0]["6"].buckets %}
                          {% for external in externals %}
                            {% assign url = external.key %}
                            {% assign tag = external["7"].buckets[0].key %}
                            {% assign hash = external["7"].buckets[0]["8"].buckets[0].key %}
                            <li>{{url}}@{{tag}} {%if hash != tag %}({{hash}}){%endif%}</li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
