---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent builds</h1>
  <div>
    <ul class="nav nav-tabs" role="tablist">
    {% assign summaries = site.data.build_summary.aggregations %}
    {% assign errors_summaries = site.data.errors.aggregations %}
    {% assign warnings_summaries = site.data.warnings.aggregations %}
    {% assign status_summaries = site.data.status.aggregations %}
    {% assign tools_infos = site.data.tools.hits.hits %}
    {% assign tests_status = site.data.tests_status.aggregations %}

    {% for product in summaries.by_package.buckets %}
      {% assign product_name = product.key %}
      <li role="presentation" {% if forloop.first == true %}class="active"{%endif%}>
        <a href="#{{product_name}}" aria-controls="{{product_name}}" role="tab" data-toggle="tab">{{ product_name }}</a>
      </li>
    {% endfor %}
    </ul>

    <div class="tab-content">
    {% for product in summaries.by_package.buckets %}
      {% assign product_name = product.key %}
      {%capture commit_file %}commits-{{product_name | downcase}}-master{%endcapture%}
      <div role="tabpanel" class="tab-pane {% if forloop.first == true %}active{%endif%}" id="{{product_name}}">
        {% assign commits = site.data[commit_file] %}
        <div class="list-group">
        {% for commit_info in commits %}
          {% capture commit %}{{commit_info.commit | truncate: 11}}{%endcapture%}
          {% if forloop.first %}
           <div class="list-group-item">
              <h4 class="list-group-item-heading">Not tested yet</h4>
                <table class="table table-condensed small"><tr><th>Commit</th><th>Author</th><th>Summary</th></tr>
          {% endif %}
          {% for builds_by_commit in product.by_commit.buckets %}
            {% capture build_commit %}{{builds_by_commit.key}}...{%endcapture%}
            {% if build_commit == commit %}
                </table>
              </div>
              <div href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Build started at commit {{builds_by_commit.key}}</h4>
                <p class="list-group-item-text">
                  <ul>
                    {% for build in builds_by_commit.build_id.buckets %}
                      {% assign build_nr = build.key %}
                      {% assign architecture = build.architecture.buckets[0].key %}
                      {% assign alidist_repo = build.architecture.buckets[0].alidist_repo.buckets[0].key %}
                        
                      <li><a href="http://alijenkins.cern.ch/job/build-any-ib/{{build_nr}}/console">Build #{{ build_nr }}</a>

                      {% for status_build in status_summaries.by_build.buckets %}
                        {% if build_nr == status_build.key %}
                          {% capture status_count %}{{ status_build.status.buckets | size}}{%endcapture%}
                          {%if status_count == "1" %}
                          (In progress)
                          {%else if status_count == "2"%}
                          (Done)
                          {% endif %}
                        {% endif %}
                      {% endfor %}


                      ({{architecture}}) using

                      {% for tools_info in tools_infos %}
                        {% if build_nr == tools_info._source.data.id %}
                         {%assign alibuild_repo = tools_info._source.data.buildVariables.ALIBUILD_REPO %}
                         {%assign alidist_repo = tools_info._source.data.buildVariables.ALIDIST_REPO %}
                         {%assign alibuild_hash = tools_info._source.alibuild_hash %}
                         {%assign alidist_hash = tools_info._source.alidist_hash %}
                         <a href="https://github.com/{{alidist_repo}}/alidist/commits/{{alidist_hash}}">
                            {{alidist_repo}}/alidist@{{alidist_hash | truncate: 11}}
                         </a> 
                         and
                         <a href="https://github.com/{{alibuild_repo}}/alibuild/commits/{{alibuild_hash}}">
                            {{alibuild_repo}}/alibuild@{{alibuild_hash | truncate: 11}}
                         </a> 
                        {% endif %}
                      {% endfor %}
                      </li>

                      {% for test_build in tests_status.by_id.buckets %}
                        {% if build_nr == test_build.key %}
                        <div id="tests{{build_nr}}" class="panel panel-default small">
                        <div class="panel-heading"><a href="#tests{{build_nr}}">Test results</a></div>
                        <div class="panel-body">
                        <table class="table">
                          <tr><th>Name</th><th>Status</th></tr>
                          {% for test_name in test_build.by_name.buckets %}
                            {% assign status = test_name.status.buckets | last %}
                              {% if status.key == "SUCCESS" %}
                              <tr class="success test-success">
                                <td>{{ test_name.key }}</td>
                                <td>
                                  <a href="https://ali-ci.cern.ch/build-any-ib/{{ test_build.key }}/{{test_name.key}}">{{ status.key }}</a>
                                </td>
                              </tr>
                              {% else if status.key == "FAILED" %}
                              <tr class="danger test-failed">
                                <td>{{ test_name.key }}</td>
                                <td>
                                  <a href="https://ali-ci.cern.ch/build-any-ib/{{ test_build.key }}/{{test_name.key}}">{{ status.key }}</a>
                                </td>
                              </tr>
                              {% else %}
                              <tr>
                                <td>{{ test_name.key }}</td>
                                <td>{{ status.key }}</td>
                              </tr>
                              {% endif %}
                          {% endfor %}
                        </table>
                        </div>
                        </div>
                        {% endif %}
                      {% endfor %}

                      {% for error_build in errors_summaries.by_build.buckets %}
                        {% if build_nr == error_build.key %}
                          <div id="errors{{build_nr}}" class="panel panel-danger small">
                            <div class="panel-heading"><a href="#errors{{build_nr}}" class="build-errors">Build errors ({{error_build.by_message.buckets | size}} unique errors)</a></div>
                            <div class="panel-body">
                            {% for message in error_build.by_message.buckets %}
                              <br/>{{message.key}}<br/>
                              <table class="table table-condensed" style="table-layout: fixed;">
                              <thead>
                                <tr><th style="width: 90%;">Filename</th><th>Line</th></tr>
                              </thead>
                              <tbody>
                                {% for filename in message.filename.buckets %}
                                <tr>
                                  <td class="filename" >
                                      {{filename.key }}
                                  </td>
                                  <td class="linenumber">{{filename.line.buckets[0].key}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                              </table>
                            {% endfor %}
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% for warning_build in warnings_summaries.by_build.buckets %}
                        {% if build_nr == warning_build.key %}
                          <div id="warnings{{build_nr}}" class="panel panel-warning small">
                            <div class="panel-heading">
                              <a href="#warnings{{build_nr}}" class="build-warnings">
                                Build warnings ({{warning_build.by_message.buckets | size}} unique warnings)</div>
                              </a>
                            <div class="panel-body">
                            {% for message in warning_build.by_message.buckets %}
                              <br/>{{message.key}}<br/>
                              <table class="table table-condensed" style="table-layout: fixed;">
                              <thead>
                                <tr><th style="width: 90%;">Filename</th><th>Line</th></tr>
                              </thead>
                              <tbody>
                                {% for filename in message.filename.buckets %}
                                <tr>
                                  <td class="filename">
                                      {{filename.key }}
                                  </td>
                                  <td style="width: 10%;">{{filename.line.buckets[0].key}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                              </table>
                            {% endfor %}
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </p>
                <table class="table table-condensed small"><tr><th>Commit</th><th>Author</th><th>Summary</th></tr>
            {% endif %}
          {% endfor  %}
          <tr><td>{{commit}}</td><td>{{commit_info.author}}</td><td>{{commit_info.message }}</td></tr>
          {% if forloop.last%}
            </table>
           </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
